<nav>
  <div class="nav-wrapper">
    <div class="container">
      <a href="#!" class="brand-logo">NG Maps</a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a routerLink="/google-maps">Google Maps</a></li>
        <li><a routerLink="/mapbox">Mapbox</a></li>
        <li><a routerLink="/open-layers">Open Layers</a></li>
      </ul>
    </div>
  </div>
</nav>

<ul class="sidenav" id="mobile-demo">
  <li><a routerLink="/google-maps" class="sidenav-close">Google Maps</a></li>
  <li><a routerLink="/mapbox" class="sidenav-close">Mapbox</a></li>
  <li><a routerLink="/open-layers" class="sidenav-close">Open Layers</a></li>
</ul>
